*{
  text-decoration: none;
}
body{
background-color: rgba(40, 25, 50, 50);
  
}
form{
  margin-top: 30%;
padding-left: 20%;
  align-items: center;
  align-content: center;
  
}
input{
  background-color: black;
  color: whitesmoke;
}
input::placeholder{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.wrapper{
  width: 500px;
  background: transparent;
  color: white;
  border-radius: 20px;
  border: 5px solid rgba(40, 25, 50, 50);
  padding: 30px 40px;

}
.wrapper h1{
  margin-left: 40px;
  font-size: 50px;
  text-align: center;
  color: royalblue;
  
}
.wrapper .input-box{
  width: 100%;
  height: 50px;
  margin: 20px 0;
  
}
.input-box input{
  height: 100%;
  width: 98%;
  border: white;
  outline: white;
  background: transparent;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin-left: 25px;
}

footer{
  background-color: whitesmoke;
  padding: 30px;
  
}
p{
  padding: 30px;
  font-size: 25px;
  color: ghostwhite;
  font-weight: 500;
}
  
.navbar{
  font-family: sans-serif;background: aqua;padding-right:15px;padding-left: 15px;
}
.navdiv{
  display: flex;align-items: center; justify-content: space-between;
}
.logo a{
  font-size: 40px;font-weight: 500;
  color: darkred;;
}
li{
  list-style: none;display: inline-block;
}
li a{
  font-size: 20px;font-weight: bold;
  color: indianred;margin-right: 25px;
}
button{
 background-color: floralwhite;
 border-radius: 40px;
 ;width: 98%;height: 100%;
 border: 2px solid rgba(255, 255, 255, 0.5);
 height: 50px;
 margin-top: 20px;
 margin-left: 25px;
}
button a{
  color: black;font-weight: bold;
  font-size: 20px;
}
label{
  font-size: 25px;
  margin-left: 30px;
}
label a{
  color: red;
  font-weight: 500;
  margin-left: 34px;
}
.wrapper .registerlink{
  margin-top: 20px;
  font-size: 25px;
  margin-left: 35px;
}
.registerlink a{
  font-weight: 500;
  margin-left: 42px;
  color: red;
}
